.spacemaker {
  margin-right: 20px;
}
.addbutton {
  background-color: rgb(196, 248, 255);
  margin-top: 6px;
  border-radius: 25px;
  padding: 5px;
  color: black;
}
.btn.btn-custom-lg,
.btn.btn-custom-sm,
.btn.btn-custom-xs {
  border-radius: 50px;
}
.addADay__link,
.addADay__link:hover,
.addADay__link:active {
  text-decoration: none;
  color: white;
}
